/*author name=sohan paliyal
and this w3schools 3rd layout*/
*{
padding:0px;
margin:0px;
}
#wrapper{
  }
#nav-bar::after{
  content:"";
  display: block;
  clear: both;
}
#nav-bar{
  width: 100%;
  position:fixed;
  z-index: 3;
  background-color: white;

}
.navs{
  float: left;
  letter-spacing: 4px;
  padding: 14px 16px;
  font-family: Verdana,sans-serif;
font-size: 12.5px;
line-height: 1.5;
}

.navs:nth-child(3){
  float: right;
}
.navs:nth-child(4){
  float: right;
}
.navs:nth-child(2){
  float: right;
}
#header-photo-div{
  position: relative;
}
.header-photo{
  max-width: 100%;
height: auto;
 
}
#text-logo-div{
  height: 100px;
  padding:8px;
  position:absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%);
}
.br-logo-part{
  color: #fff !important;
background-color: #000 !important;
  padding: 8px 16px !important;
  opacity: 0.75;
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
letter-spacing: 4px
}
.architect-logo-part{
  color: #fff !important;
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.5;
  }
#header{
  padding-top: 32px !important;
padding-bottom: 32px !important;
  padding: 0.01em 16px;
  
}
#projects{
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
  border-bottom: 1px solid #ccc !important;
border-color: #f1f1f1 !important;
}
.photos-container-sort-list-of-houses::after{
  content:"";
  display: block;
  clear: both;
  
}
.photos-container-sort-list-of-houses{
  margin-bottom: 10px;
  padding: 0 12px;
}
.div-for-the-photo-houses{
  float:left;
  position: relative;
  width: 24.50%
}
.house-photo{
  width:300px;
  margin: 0 10px;
}
.design-name{
  position: absolute;
  top: 0;
  left: 10px;
  color: #fff !important;
background-color: #000 !important;
  font-family: Verdana,sans-serif;
font-size: 15px;
line-height: 1.5;
  padding: 6px 12px !important;
  
}
#about-div{
  padding-top: 32px !important;
padding-bottom: 32px !important;
  padding: 0.01em 16px;
}
#about-heading{
  border-bottom: 1px solid #ccc !important;
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
  border-color: #f1f1f1 !important;
  line-height: 1.5;
  font-size: 22px;
}
#about-para{
  font-family: Verdana,sans-serif;
font-size: 12.5px;
line-height: 1.5;
}
#architects-container::after{
  content:"";
  display: block;
  clear: both;
}
#architects-container{
}
.architect-profile{
  float: left;
  width: 24.50%
}
.architect-photo{
  width: 320px;
}
.architect-name{
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
  line-height: 1.5;
  font-size: 22.5px;
}
.architect-designation{
  opacity: 0.60;
  font-family: Verdana,sans-serif;
font-size: 13px;
line-height: 1.5;
}
.architect-speech{
  font-family: Verdana,sans-serif;
font-size: 13px;
line-height: 1.5;
  margin: 10px 0;
}
.contant-button:hover{
   color: #000 !important;
background-color: #ccc !important;
}
.contant-button{
  border-style: none;
  padding: 8px 16px;
  text-align: center;
cursor: pointer;
  display: block;
width: 100%;
  overflow: hidden;
  letter-spacing: 1px;
}
#contact-form{
  padding-top: 32px !important;
padding-bottom: 32px !important;
padding: 0.01em 16px;  
}
#contact-form-heading{
  font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
border-bottom: 1px solid #ccc !important;
  border-color: #f1f1f1 !important;
  padding-top: 16px !important;
padding-bottom: 16px !important;
  line-height: 1.5;
  font-size:24px;
}
#contact-form-para{
  font-family: Verdana,sans-serif;
font-size: 15px;
line-height: 1.5;
}
.user-name{
  border: 1px solid #ccc !important;
  padding: 10px;
  width: 98%;
  display: block;
  
}
.user-info-submit-button:hover {
    color: #000 !important;
  background-color: #ccc !important;
}
.user-info-submit-button{
  border-style: none;
padding: 0;
  margin-top: 16px !important;
margin-bottom: 16px !important;
  padding: 8px 16px;
  background-color: #000;
  color: #ccc;
  text-align: center;
cursor: pointer;
}
#footer-image-div{
 padding: 0.01em 16px; 
}
.footer-image{
  max-width: 100%;
height: auto;
  vertical-align: middle;
}
#footer{
  color: #fff !important;
background-color: #000 !important;
  padding-top:30px !important;
padding-bottom: 30px !important;
  text-align: center !important;
  font-family: Verdana,sans-serif;
font-size: 15px;
line-height: 1.5;
  margin-top: 7px;
  
}
