body{
	background-color: black;
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
#main{
	width: 1170px;
	background-color: #fff;
	margin: auto;
}
#top-contact{
	width: 100%;
	height: 40px;
	background-color: #343130;
}
.left-cont{
	width: 277px;
	height: 33px;
	float: left;
}
.left-top-iip{
	color: #ffffff;
	font-size: 20px;
	font-family: verdana;
	float: right;
	margin-top: 5px;
}
.left-top-pic{
	margin-left: 30px;
	margin-top: 7px;
}
.anchor{
	text-decoration: none;
	color: inherit;
}
.right-cont{
	width: 277px;
	height: 33px;
	float: right;
	margin-right: 30px;
}
.right-top-info{
	color: #ffffff;
	font-size: 20px;
	font-family: verdana;
	float: right;
	margin-top: 5px;
}
.right-top-pic{
	margin-left: 30px;
	margin-top: 7px;
}
.menu-container{
	width: 100%;
	height: 140px;
}
.left-menu-logo-div{
	width: 250px;
	height: 140px;
	float: left;
}
.logo{
	width: 165px;
	height: 125px;
	margin: 10px 0px 0px 50px;
}
.menu-bar{
	width: 900px;
	height: 140px;
	font-size: 20px;
	font-family: arial;
	float: right;
	color: #343130;
	font-weight: bold;	
}
.menu-item{
	float: left;
	margin: 100px 0px 0px 63px;
}
.active{
	color: #00a8ec;
}
.middle-container::after{
	content:"";
	display: block;
	clear: both;
}
.middle-container{
	width: 1130px;
	min-height: 755px;
	background: #ffffff;	
	border: 20px #f1f0ef solid;
	border-bottom: none;
}
.middle-left{
	width: 260px;
	height: 755px;
	float:left;
}
.menu-item-left{
	margin:2px 0px 0px 10px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	font-family: arial;
	border:3px white solid;
	background-color:#00a8ec;
	color:white;
	font-weight: bold;
}
.menu-item-left-a{
	display: block;
	padding: 10px 60px;
    color: white;
}
.middle-left-buttom{
	width: 250px;
	height: 360px;
	margin: 10px 0px 0px 12px;
	background-color:white;
}
.middle-left-buttom-news{
	width: 100%;
	height: 45px;
	background-color: #ef9c00;
	color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px 15px 0px 0px;
}
.news-list{
	border: 1px #908c89 solid;
    border-top: none;
    list-style-type: none;
}
.news-list-li{
	width: 100%;
    margin-top: 10px;
    margin-left: -30px;
    height: 40px;
    color: #343130;
    font-size: 18px;
}
.news-list-li:first-child{
	margin-top: -15px;
	padding-top: 10px;
}
.news-list-li-img{
	border-radius: 50px;
    margin-right: 2px;

}
.middle-right{
	width: 850px;
	min-height: 750px;
	float: right;
	/*border:1px solid red;*/
}
/*css of middle right-home page starts from here*/
.banner-img{
	width: 830px;
	height: 440px;
	background-color: #f1f0ef;
	padding-bottom: 15px;
}
.course-container{
	width: 99%;
	height: 270px;
	background-color: white;
	padding: 0px 10px 10px 0px;
}
.course-text{
	width: 170px;
	height: 50px;
	background-color: #f1f0ef;
	font-family: arial;
	font-weight:bolder;
	text-align: center;
	font-size: 30px;
	color: #00a8ec;
	margin-top: -5px;
}
.course-box{
	margin-left: 10px;
}
.course-box-left{
	float: left;
	width: 47%;
}
.icon{	
	margin: 30px 0px 30px 0px ;
}
.icon img{
	width: 34px;
	height: 34px;
	background-color: #e6611c;
	border-radius: 50%;
	float:left;
	margin-right:20px;  
}
.icon h3{
	margin:8px 0px 0px 10px;
	font-family: arial;
	color: #e6611c;
	font-weight: normal;
}
.adv-php img{
	background-color: #5e5da4!important; 
}
.adv-php h3{
	color: #5e5da4;	
}
.py img{
	background-color:#7bb1e0; 
}
.py h3{
	color: #7bb1e0;
}
.android img{
	background-color:#89c222;
}
.android h3{
	color: #89c222;
}
.digi img{
	background-color: #5e5da4;
}
.digi h3{
	color: #5e5da4;
}
.graphics img{
	background-color: #d60726;
}
.graphics h3{
	color: #d60726;
}
.seo img{
	background-color:#308a7c; 
}
.seo h3{
	color: #308a7c;
}
.wordpress img{
	background-color: #e6611c;
}
.wordpress h3{
	color: #e6611c;
}
.course-box-right{
	float: right;
	width: 50%;
	height: 100%;	
}
.work-heading{
	padding: 20px 0px 15px 0px;
	text-align: center;
	font-family: arial;
	background-color: #f1f0ef;
	font-size: 30px;
	color: #00a8ec;
	font-weight: bold;
	word-spacing: 5px;
}
.work-container{
	width: 1110px;
	height: 220px;
	margin:0px 30px 20px 30px;
}
.how-image-box{
	width: 270px;
	height: 220px;
	margin-left: 10px;
	float: left;
	/*background-color: red;*/
	/*border: 1px solid yellow;*/
}
.box-first{
	margin-left: 0px;
}
.how-img1{
	height: 220px;
    width: 270px;
    background: url(../images/how/how-we-work1.png) no-repeat;
    background-size: 168px 150px;
    background-position: center bottom;
}
.how-img1-color{
	width: 100%;
    height: 150px;
    background: rgba(188,72,109,0.8);
    /*padding-top: 70px;*/
    color: white;
    font-family: arial;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    padding-top: 70px;
}
.how-img2{
	height: 220px;
    width: 270px;
    background: url(../images/how/how-we-work2.png) no-repeat;
    background-size: 168px 150px;
    background-position: center bottom;
}
.how-img2-color{
	width: 100%;
    height: 150px;
    background: rgba(233,79,113,0.8);
    /*padding-top: 70px;*/
    color: white;
    font-family: arial;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    padding-top: 70px;			
}
.how-img3{
	height: 220px;
    width: 270px;
    background: url(../images/how/how-we-work3.png) no-repeat;
    background-size: 168px 150px;
    background-position: center bottom;
}
.how-img3-color{
	width: 100%;
    height: 150px;
    background: rgba(237,136,56,0.8);
    /*padding-top: 70px;*/
    color: white;
    font-family: arial;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    padding-top: 70px;			
}
.how-img4{
	height: 220px;
    width: 270px;
    background: url(../images/how/how-we-work4.png) no-repeat;
    background-size: 168px 150px;
    background-position: center bottom;
}
.how-img4-color{
	width: 100%;
    height: 150px;
    background: rgba(244,183,65,0.8);
    /*padding-top: 70px;*/
    color: white;
    font-family: arial;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    padding-top: 70px;			
}
/*css of middle right-home page-ends here */
/*css of middle right-About page-starts from here */
.page-status{
	width: 96%;
    height: 30px;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
}
.page-status h1{
	width: 300px;
    height: 30px;
    float: left;
    color: #343130;
}
.page-status h2{
	float: right;
    height: 30px;
    color: #343130;
}
.page-status h2 i{
	color: #00a8ec;
    cursor: pointer;
}
.about-content{
	border: 1px solid transparent;
}
.about-content p{
	margin-top: 22px;
    font-size: 18px;
    word-spacing: 2px;
}
/*css of middle right-About page-ends here */
/*css of middle right-course page-starts here */
.course-content{
	/*padding: 10px 30px 0px 30px;*/
	height: 760px;
	width: 850px;
	/*border: 1px solid green;*/

}
.course-row{
	width: 800px;
    height: 250px;
    margin: auto;
    /*border: 1px solid yellow;*/
    clear: both;
}
.course-1{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
    /*border: 1px solid green;*/
}
.course-1-icon{
	width: 210px;
    height: 140px;
    background: #e6611c;
    padding-top: 20px;
}
.round-circle-around-course-icon{
	width: 87px;
    height: 80px;
    border: 10px solid white;
    border-radius: 50%;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
}
.round-circle-around-course-icon img{
	height: 80px;
	width: 100%;
}
.course-below-text1{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #e6611c;
    font-size: 22px;
    text-align: center;
    border: 1px #e6611c solid;
    border-radius: 0px 0px 5px 5px;
}

.course-2{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-2-icon{
	width: 210px;
    height: 140px;
    background: #7bb1e0;
    padding-top: 20px;
}
.course-below-text2{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #7bb1e0;
    font-size: 22px;
    text-align: center;
    border: 1px #7bb1e0 solid;
    border-radius: 0px 0px 5px 5px;
}
.course-3{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-3-icon{
	width: 210px;
    height: 140px;
    background: #5e5da4;
    padding-top: 20px;
}
.course-below-text3{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #5e5da4;
    font-size: 22px;
    text-align: center;
    border: 1px #5e5da4 solid;
    border-radius: 0px 0px 5px 5px;
}
.course-4{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
    /*border: 1px solid green;*/
}
.course-4-icon{
	width: 210px;
    height: 140px;
    background: #308a7c;
    padding-top: 20px;
}
.course-below-text4{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #308a7c;
    font-size: 22px;
    text-align: center;
    border: 1px #308a7c solid;
    border-radius: 0px 0px 5px 5px;
}
.course-5{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-5-icon{
	width: 210px;
    height: 140px;
    background: #89c222;
    padding-top: 20px;
}
.course-below-text5{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #89c222;
    font-size: 22px;
    text-align: center;
    border: 1px #89c222 solid;
    border-radius: 0px 0px 5px 5px;
}
.course-6{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-6-icon{
	width: 210px;
    height: 140px;
    background: #d60726;
    padding-top: 20px;
}
.course-below-text6{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #d60726;
    font-size: 22px;
    text-align: center;
    border: 1px #d60726 solid;
    border-radius: 0px 0px 5px 5px;
}
.course-7{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
    /*border: 1px solid green;*/
}
.course-7-icon{
	width: 210px;
    height: 140px;
    background: #5e5da4;
    padding-top: 20px;
}
.course-below-text7{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #5e5da4;
    font-size: 22px;
    text-align: center;
    border: 1px #5e5da4; solid;
    border-radius: 0px 0px 5px 5px;
}
.course-8{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-8-icon{
	width: 210px;
    height: 140px;
    background: #e6611c;
    padding-top: 20px;
}
.course-below-text8{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: #e6611c;
    font-size: 22px;
    text-align: center;
    border: 1px #d60726 solid;
    border-radius: 0px 0px 5px 5px;
}
.course-9{
	width: 210px;
    height: 230px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 60px;
    /*border: 1px solid green;*/
}
.course-9-icon{
	width: 210px;
    height: 140px;
    background: darkgreen;
    padding-top: 20px;
}
.course-below-text9{
	padding: 5px 0px 5px 0px;
    background: white;
    height: 50px;
    width: 208px;
    color: darkgreen;
    font-size: 22px;
    text-align: center;
    border: 1px #d60726 solid;
    border-radius: 0px 0px 5px 5px;
}
/*css of middle right-course page-ends here */
/*css of middle right-Enquiry page-starts here */
.formrow{
	margin-bottom: 20px;
    width: 500px;
    margin-left: 20px;
    margin-top: 30px;
	clear: both;
	/*border: solid red 2px;*/
}
.formlabel{
	float: left;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.input{
	font-size: 12px;
    color: #5b5b5b;
}
.input-box{
	width: 200px;
    height: 30px;
    color: #5b5b5b;
    padding-left: 5px;
    font-family: verdana;
}
.textarea{
	width: 200px;
    height: 100px;
    color: #5b5b5b;	
    /*font-weight: 16px;*/
    padding-left: 5px;
    font-family: verdana;
}
.button{
	background: #09F;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0px auto 30px auto;
    cursor: pointer;
}
/*css of middle right-Enquiry page-ends here */
/*css of middle right-Gallery page-starts here */
.gallery-content{
	padding: 30px 30px 0px 30px;
	/*border: 3px solid green;*/
	height: 810px;

}
.galleryimgdiv{
	width: 225px;
    height: 220px;
    margin-right: 35px;
    margin-bottom: 50px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    /*border: 5px solid yellow;*/
    /*background-color: red;*/
}
.gallery-img-title{
	width: inherit;
    text-align: center;
    color: #ffffff;
    font-family: arial;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px;
    background: #343130;
    padding: 12px 0px 12px 0px;
}
/*css of middle right-Gallery page-ends here */
/*css of middle right-contact page-starts here */
.contact-content{
	padding: 10px 30px 0px 30px;
    height: 750px;
    margin-bottom: 60px;
    width: 800px;
    /*border: solid 5px blue;*/
}
.contact-row{
	width: 750px;
	margin: auto;
    /*padding: 0px 25px 0px 25px;*/
    height: 250px;
    /*border: solid 5px green;*/
    clear: both;
}
.contact-left{
	width: 320px;
    height: 250px;
    float: left;
    text-align: center;
    color: #343130;
    /*border: 2px solid yellow;*/
}
.contact-left img{
	width: 50px;
}
.contact-left p{
	margin-top: 10px;
    font-size: 17px;
}
.contact-right{
	margin-left: 100px;
    width: 270px;
    height: 250px;
    float: right;
    text-align: center;
    color: #343130;
    /*border: 2px solid yellow;*/
}
.contact-right img{
	width: 70px;
    height: 85px;
}
.contact-right p{
	margin-top: 10px;
    font-size: 17px;
    word-spacing: 5px;
}
.contact-map img{
	margin-top: 20px;
    width: 800px;
}
/*css of middle right-contact page-ends here */
.footer{
	width: 1170px;
	height: 360px;

}
.footer-top-container{
	height: 295px;
	width: 1170px;
	background-color: #343130;
	padding-top: 25px;
}
.quick-links-container{
	height: 100%;
	width: 225px;
	padding-left: 70px;
	float: left;
	/*border: 1px solid red;*/
}
.quick-links-container h2{
	letter-spacing: 1px;
    color: #efeceb;
    font-family: arial;
    height: 40px;
}
.quick-links-container  li{
	margin-top: 20px;
    list-style: none;
    color: #efeceb;
    font-family: arial;
    margin-left: 10px;
}
.footer-train-container{
	width: 510px;
    height: 100%;
    margin-left: 30px;
    float: left;
 	/*border: 1px solid red;   */
}
.footer-train-container h2{
	letter-spacing: 1px;
    color: #efeceb;
    font-family: arial;
    height: 40px;
}
.train-cont{
	margin-left: 10px;
    width: 40%;
    height: 100%;
    float: left;
    /*background-color: red;*/
    /*border: 1px solid green;*/
}
.train-cont ul{
	padding: 0px;
	margin:0px;
}
.train-cont li{
	color: #efeceb;
	margin-top: 20px;
    width: 225px;
    list-style: none;
    color: white;
    font-family: arial;
}
.footer-contact-container{
	width: 320px;
    height: 100%;
    float: left;
    /*border: 1px solid red;*/
}
.footer-contact-container h2{
	letter-spacing: 1px;
    color: #ffffff;
    font-family: arial;
    height: 40px;
}
.cont-details{
	margin-left: 15px;
}
.cont-details li{
	list-style: none;
    letter-spacing: 1px;
    color: #efeceb;
    width: 200px;
    margin-top: 20px;
    font-family: arial;
}
.footer-contact-container ul{
	margin-left:15px;
}
.social-links li{
	display: inline;
	margin:4px;
	list-style-type: none;
}
.copy-right{
	height: 35px;
    width: 1170px;
    background: #302d2c;
    color: white;
    font-family: arial;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
}