/* sohan paliyal 
*/
*{
	padding:0px;
	margin:0px;
}



#nav-bar{
	width: 100%;
	height: 60px;
	color: #fff !important;
background-color: #000 !important;
	position:fixed;
	top: 0;
	z-index: 5;
}
.navs{
	float:left;
	font-size: 20px;
	text-transform: uppercase;
	margin-top:20px;
	margin-left:55px;	
}
.navs:nth-child(7){
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
#header-photo{
	position: relative;
	
	 
}

#main-photo{
	width: 100%;
}
#places-of-concert{
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%,0);
	text-align: center;
}
#new-york{
	color: white;
	font-size: 24px;
	font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
}
#new-york-besttime{
	color: white;
	font-size:15px;
		font-family: "Lato", sans-serif;
	font-weight: bolder;
	margin: 15px 0;
}
.w3-container::after,.w3-container::before{
	 content:"";
  display:table;
  clear:both;
}

.w3-container{
	position: relative;
}
.w3-center-container::after{
	content:"";
	display: block;
	clear: both;
}
.w3-center-container{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 60%;
	padding-top: 64px !important;
padding-bottom: 64px !important;
	padding: 0.01em 16px;
}
#the-band{
	font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin: 10px 0;
	font-size:33px;
	text-transform: uppercase;
  letter-spacing: 4px;
	line-height: 1.5;
}
#we-love-music{
	font-family: "Lato", sans-serif;
	font-size: 17px;
	opacity: 0.60;
	line-height: 1.5;
}
#summery{
	font-family: "Lato", sans-serif;
	text-align: justify !important;
	margin-top: 20px;
	line-height: 1.5;
}
#artists{
	float: left;
	margin-top: 70px;
	margin-left:30px;
	
}
.band-member-photo{
	width: 60%;
	border-radius: 5px;
	margin-bottom: 50px;
}
.artist-name{
	font-family: "Lato", sans-serif;
	font-size: 17px;
line-height: 1.5;
	margin-bottom: 20px
}
#black-background{
	  color: #fff !important;
background-color: #000 !important;
}
#tour-dates-container{
	margin-left: auto;
	margin-right:auto;
	max-width:60%;
	padding-top: 64px !important;
padding-bottom: 64px !important;
	color: #fff !important;
	font-family: "Lato", sans-serif;
}
#tour-dates-heading{
	margin: 10px 0;
	font-size: 34px;
	color: #fff !important;
	background-color: black;
	letter-spacing: 4px;
	font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
	text-align:center;
}
#reminder{
	opacity: 0.60;
	background-color: black;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 17px;
line-height: 1.5;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 50px;
	}
.month-names{
	list-style-type:none;
	font-family: "Lato", sans-serif;
	font-size: 18px;
line-height: 1.5;
	color: #757575 !important;
	padding: 8px 16px !important;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	}
.sold-out-left{
	color: #fff !important;
background-color: #f44336 !important;
	margin-left: 16px !important;
	    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
	display: inline-block;

}
.sold-out-right{
	float: right !important;
	margin-right: 16px !important;
	border-radius: 50%;
	background-color: #000;
color: #fff;
display: inline-block;
padding-left: 8px;
padding-right: 8px;
text-align: center;
}
#city-container::after{
	content:"";
	display: block;
	clear: both;
}
#city-container{

}
.cities{
	float: left;
	width:32%;
	margin:30px 6.7px;
	
}
.city-image{
	width: 320px;
	
}
.concert-details{
	color: #000 !important;
background-color: #fff !important;
	padding: 0.01em 16px;
	
	
	
}
.concert-place{
	color: black;
	background-color: white;
	font-family: "Lato", sans-serif;
	font-size: 17px;
line-height: 1.5;
	padding-top: 16px;
	
}
.date-nd-day-of-concert{
	opacity: 0.60;
	color: #000 !important;
	padding-top:16px;
	font-size: 17px;
	}
.concert-discription{
	color: #000 !important;
	padding-top: 16px;
}
.buy-tickets{
	border-style: none;
	margin-top: 16px;
	margin-bottom: 16px !important;
	border: none;
display: inline-block;
padding: 8px 16px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
	text-align: center;
cursor: pointer;
white-space: nowrap;
	color: white !important;
background-color: black !important;
	font-size:18px;
}
#contact{
	letter-spacing: 6px;
	font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
margin-top: 40px;
	font-size: 35px;
	text-align:center;
}
#drop-a-note{
	opacity: 0.60;
	text-align: center;
	margin-top: 30px;
	margin-bottom:30px;
	font-size: 22px;
}
#form-container::after{
	content:"";
	display:block;
	clear:both;
}
#form-container{
	padding-top: 32px !important;
padding-bottom: 100px !important;
	margin-left: auto;
	margin-right: auto;
	width:60%;
}
.form-panels{
	float: left;
	width:49.5%;
	font-size: 20px !important;
	margin-bottom: 16px !important;  
	font-family: "Lato", sans-serif;
	line-height: 1.5;
	}
.input-name-email{
	border: 1px solid #ccc !important;
	padding:17px; 
	margin:5px 2px;
	width: 40%;
	font-size: 19px;
}
.message{
	width: 89.2%
}
#feedback-send-button{
	color: whitesmoke !important;
background-color: black !important;
	float: right !important;
	margin-top: 16px !important;
margin-bottom: 16px !important;
	margin-right: 14px !important;
	border: none;
	padding: 11px 20px;
	text-align: center;
cursor: pointer;
	font-size: 20px
	
}
#footer{
	text-align: center;
	font-size:30px;
	padding: 100px;
	opacity: 0.60;
	
}
#footer-image{
	width: 100%;
}
#powered-by-w3css{
	font-size:24px;
	margin-top: 20px;
}