#first{
  height:100px;
  width:100px;
  background-color:red;
}
#container{border:solid;}
.box{
  height:100px;
  width:100px;
  font-size:50px;
  float:left;
}
.box:nth-child(1){background-color:wheat;}
.box:nth-child(2){background-color:orange;}
.box:nth-child(3){background-color:brown;float:right}
#reset{clear:both;}
#last{
  height: 50px;
  width: 100px;
  background-color: blue;
}